In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("dataset.csv")

In [11]:
df.head()

,ID,VACANCY_TITLE,COMPANY_NAME,SALARY,CITY,DATE,PROGRAMMING_LANGUAGE,VACANCY_URL
0,94354526,Стажер-разработчик Python,Додо Пицца,150000.0,Ростов-на-Дону,2024-03-06,Python,https://hh.ru/vacancy/94354526
1,94450348,Junior Frontend разработчик,EasyDev,60000.0,Москва,2024-03-09,Python,https://hh.ru/vacancy/94450348
2,94228875,Junior Frontend разработчик,MacBuildServer,50000.0,Самара,2024-03-07,Python,https://hh.ru/vacancy/94228875
3,94120837,Python junior разработчик,Скиллтеллект,50000.0,Санкт-Петербург,2024-03-01,Python,https://hh.ru/vacancy/94120837
4,94293788,Junior Python-разработчик,СОГАЗ,NaN,Москва,2024-03-06,Python,https://hh.ru/vacancy/94293788