In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('test.csv')

In [3]:
data

   A  B  C
0  1  2  3

In [5]:
type(data)

pandas.core.frame.DataFrame